:root {
  --background: #141414;
  --text: #fff;
  --red: #e50914;
  --black: black;
  --gray: gray;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #000000;
  background-image: -webkit-linear-gradient(
    top,
    #000000 0%,
    #e00303 50%,
    #920505 51%,
    #000000 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  object-fit: cover;
}

@font-face {
  font-family: "NetflixSans";
  src: url("./fonts/NetflixSans-Regular.woff2") format("woff2"),
    url("./fonts/NetflixSans-Regular.otf") format("otf");
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "NetflixSans", sans-serif;
}
